


.container {
    width: 55vh;
    height: 73.5vh;
    background-color: blue;
    border: 5px solid black;
    cursor: pointer;
}
.display, .display2 {
    background-color: white;
    font-size: 5rem;
    height: 80px;
    width: 100%;
    text-align: end;
}
.buttonsDivs {
    display: flex;
    border: 2px solid red;
    height: 12vh;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    cursor: pointer;
}



.buttonsEl {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}