


.container {
    width: 55vh;
    height: 75vh;
    background-color: blue;
    border: 5px solid black;
}
.display {
    background-color: white;
    font-size: 180px;
    height: 195px;
    
}
.buttonsDivs {
    display: flex;
    border: 2px solid red;
    height: 12vh;
    justify-content: center;
    align-items: center;
    font-size: 120px;
}

.buttonsEl {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}