body {
    font-family: "Lato", sans-serif;
}


.container {
    width: 55vh;
    height: 73.5vh;
    background-color: #dcdcdc;
    border: 5px solid black;
    cursor: pointer;
}
.display, .display2 {
    background-color: white;
    font-size: 5rem;
    height: 80px;
    width: 100%;
    text-align: end;
}
.display2 {
    margin-bottom: 15px;
}
.buttonsDivs {
    display: flex;
    border: 2px solid #ffd700;
    height: 12vh;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    cursor: pointer;
    opacity: 90%;
}

.buttonsDivs:hover {
    background-color: ghostwhite;
    opacity: 100%;
}



.buttonsEl {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
